body {
    font-family: arial;
    background-color: rgb(227, 255, 255);
}

header a {
    text-decoration: none;
    color: rgb(152, 199, 240);
    border-left: 10px double rgb(162, 189, 255);
    padding: 5px;
}

a {
    color: rgb(68, 68, 150);
    text-decoration: none;
    text-align: center;
}

header {
    background-color: white;
    font-size: 20px;
    border: 3px dotted rgb(152, 199, 240);
    border-radius: 15px;
    padding: 10px;
}

h1 {
    color: darkblue;
    margin-left: 40px;
    background: linear-gradient(white, rgb(166, 242, 255));
    padding: 5px;
        text-align: center;
}


img {
    height: 200px;
    width: 100%;
}

footer img {
    width: 50px;
    height: 50px;
}

main p {
    color: rgb(108, 158, 202);
    margin-left: 50px;
}
